.graph-container {
  max-width: 1366px;
  height: 80vh;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 40px auto;
  padding: 20px;
}

/* .add-node-button { */
  /* background-color: #000; */
  /* color: #fff; */
  /* border: none; */
  /* padding: 10px 20px; */
  /* border-radius: 5px; */
  /* cursor: pointer; */
  /* margin-top: 10px; */
  /* margin-left: 10px; */
  /* font-size: 16px; */
  /* font-weight: bold; */
/* } */
/*  */

.vis-tooltip {
  position: absolute;
  text-align: center;
  width: 6rem;
  height: 1rem;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
}